@import "tailwindcss";

@layer base {

  * {
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
  }

    body {
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
}

@layer utilities {

    .scroll-personalizada {
        scrollbar-color: transparent transparent;
        scrollbar-width: none;
      }
    
      .scroll-personalizada::-webkit-scrollbar {
        width: none;
        height: none;
      }
    
      .scroll-personalizada::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
}

@theme {
  --animate-fade-out-left: fade-out-left 1.7s ease-in-out forwards;
  --animate-fade-in-right: fade-in-right 1.7s ease-in-out forwards;
  --animate-slice-left: slice-left 1.7s ease-in-out forwards;
  --animate-slice-right: slice-right 1.7s ease-in-out forwards;
  

  @keyframes fade-out-left {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0.8; 
      transform: translateX(-100%) scaleX(0.7) scaleY(0.7);
    }
  }

  @keyframes fade-in-right {
    0% {
      opacity: 0.8;
      transform: translateX(0);
      bacground-color: inherit;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1; 
      transform: translateX(-143%) scaleX(1.43) scaleY(1.43);
    }
  }

  @keyframes slice-left {
    0% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 0;
      transform: translateX(-100%);
    }
  }

  @keyframes slice-right {
    0% {
      opacity: 0;
      transform: translateX(0%);
    }
    100% {
      opacity: 0.8;
      transform: translateX(-214%);
    }
  }
}